POSTGRES_DB=global_ready
POSTGRES_USER=global_ready
POSTGRES_PASSWORD=global_ready
POSTGRES_PORT=5432
BACKEND_PORT=8080
FRONTEND_PORT=3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
APP_ENVIRONMENT=local
NEXT_TELEMETRY_DISABLED=1
